## Classification and Regression Trees

We are ready to finally begin modeling our data, in the Modeling Phase. Data science offers a wide variety of methods and algorithms for modeling large data sets. We begin here with one of the simplest methods: decision trees. In this chapter we will work with the adult_ch6_training and the adult_ch6_test data sets. These are adapted from the Adult data set from the UCI repository. For simplicity, only two predictors and the target are retained, as follows:

- Marital status, a categorical predictor with classes married, divorced, never‐married, separated, and widowed.
- Cap_gains_losses, a numerical predictor, equal to capital gains + |capital losses|.
- Income, a categorical target variable with two classes, >50k and ≤50k, representing individuals whose income is greater than 50,000 per year, and those with income less than or equal to 50,000 per year.

A decision tree consists of a set of decision nodes, connected by branches, extending downward from the root node until terminating in leaf nodes. Beginning at the root node, which by convention is placed at the top of the decision tree diagram, variables are tested at the decision nodes, with each possible outcome resulting in a branch. Each branch then leads either to another decision node or to a terminating leaf node.

In [1]:
# dependencies
import pandas as pd
import numpy as np
import statsmodels.tools.tools as stattools
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [2]:
# load data
url = 'https://raw.githubusercontent.com/ArashVafa/DESC624/master/adult_ch6_training'
adult_tr = pd.read_csv(url)
adult_tr.head()
data = adult_tr
data.head()

  Marital status Income  Cap_Gains_Losses
0  Never-married  <=50K           0.02174
1       Divorced  <=50K           0.00000
2        Married  <=50K           0.00000
3        Married  <=50K           0.00000
4        Married  <=50K           0.00000

### Data Processing

In [3]:
# segment
y = adult_tr[['Income']]

In [4]:
y.head()

  Income
0  <=50K
1  <=50K
2  <=50K
3  <=50K
4  <=50K